//sass styles declaring variables, mixins

@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque|Poiret+One&display=swap');

$primary-color: #FBF9FA;
$secondary-color:#FD0054;
$text-color: #2B2024;
$font-family-monospace: 'Poiret One';

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: $font-family-monospace;
  padding: 20px 40px;
}

button {
  font-family: $font-family-monospace;
}

a {
  text-decoration: none;
  color: black;
}

// @media (min-width: 576px) {
//   .navContainer {
//     width: 540px;
//   }

//   .mainContainer {
//     width: 540px;
//   }
// }

// @media (min-width: 768px) {
//   .navContainer {
//     width: 720px;
//   }

//   .mainContainer {
//     width: 720px;
//   }

//   .dropdownLinks {
//     width: 720px;
//   }
// }

// @media (min-width: 992px) {
//   nav {
//     height: 80px;
//     align-items: flex-end;
//     background: none;
//   }

//   .navContainer {
//     width: 960px;
//     background: none;
//     z-index: 1;
//   }